# Learn more https://docs.github.com/en/get-started/getting-started-with-git/ignoring-files

# =====================
# Dependencies
# =====================
node_modules/

# =====================
# Expo / React Native
# =====================
.expo/
dist/
web-build/
expo-env.d.ts

# Native
.kotlin/
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision

# Metro
.metro-health-check*

# =====================
# Next.js (WEB)  
# =====================
.next/
out/
build/

# =====================
# Debug / Logs
# =====================
npm-debug.*
yarn-debug.*
yarn-error.*

# =====================
# OS / System
# =====================
.DS_Store
Thumbs.db
*.pem

# =====================
# Environment files
# =====================
.env
.env.local
.env*.local

# =====================
# TypeScript
# =====================
*.tsbuildinfo

# =====================
# Example / Temp folders
# =====================
app-example

# =====================
# Generated native folders
# =====================
/ios
/android
